vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/

#Eclipse files
.project
.buildpath
.settings/
.DS_Store
*.log
.idea/
auth.json

cache.properties

.php_cs.cache
.env
/build/logs/
